
.ch-inline-radio {
  display: flex;
}

.ch-inline-radio label {
  text-align: center;
  display: inline-block;
  margin-right: 25px;
}


.ch-inline-radio h3 {
  margin-top: 10px;
  margin-bottom: 0;
}
.ch-inline-radio h4 {
  margin-top: 15px;
    margin-bottom: 0;
}
.ch-inline-radio h5 {
  margin-top: 17px;
    margin-bottom: 0;
}

/* Volume Range */
#chatster_chat_options_ch_chat_volume, #chatster_chat_options_ch_chat_volume_admin {
  margin-top: 5px;
  -webkit-appearance: none;
  height: 15px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

#chatster_chat_options_ch_chat_volume:hover,
#chatster_chat_options_ch_chat_volume_admin:hover {
  opacity: .9;
}

#chatster_chat_options_ch_chat_volume::-webkit-slider-thumb,
#chatster_chat_options_ch_chat_volume_admin::-webkit-slider-thumb  {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  background: #04346D;
  cursor: pointer;
}

#chatster_chat_options_ch_chat_volume::-moz-range-thumb,
#chatster_chat_options_ch_chat_volume_admin::-moz-range-thumb
 {
  width: 18px;
  height: 15px;
  background: #4CAF50;
  cursor: pointer;
}


/** Request Options*/

#header_img_input_container {
  display: flex;
  align-items: center;
}

#header_img_input_container  .header_img {
  max-width: 150px;
  max-height: 55px;
  margin-left: 30px;
}

#header_img_input_container  .no-image-found {
  border: 2px solid orangered;
}
