
/* Mobile Style */
@media screen and (max-width: 400px) {

  #chatster-container {
    right: 1% !important;
    left: 1% !important;
    margin: 0 auto !important;
    max-width: 95% !important;
    z-index: 1000000 !important;
  }

  #ch-bot-msg-container {
    height: 195px !important;
  }
}

/* Mobile Style */
@media screen and (max-height: 620px) {

  #chatster-container {
    max-height: 90%;
    overflow: scroll;
    z-index: 1000000 !important;
  }
  #ch-bot-msg-container, #ch-msg-container {
    height: 195px !important;
  }

}
