.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

/** Opener Section*/
#chatster-opener section {
  margin: 0;
  padding: 5px 7px;
}

/** Chat Section*/

#chatster-container section {
  margin: 0; padding: 0;
  position: relative;
}


#chatster-container, #chatster-opener {
  position: fixed;
  overflow-wrap: break-word;
  background-color: #fff;
  z-index: 100;
  right: 1%;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,.2);
  border-radius: 10px;
}

#chatster-opener{
  bottom: 2%;
}

#chatster-container{
  min-width: 280px;
  min-height: 390px;
  bottom: -650px;
}

#ch-chat-section, #ch-message-section, #ch-open-button {
  padding: 0 4px 4px 4px;
  max-width: 390px;
}

#ch-open-button, .ch-send-btn, .ch-down {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#chatster-container #ch-header {
  padding: 28px 0;
  background-color: #0073aa;
  text-align: center;
  color: #fff;
  font-size: 1.2em;
  font-weight: 600;
  border-radius: 10px 10px 0 0;
}

#ch-indent-header {
  height: 20px;
  margin-top: -10px;
  position: relative;
  border-radius: 10px;
  background-color: #fff;

}

.ch-msg-wrapper {
  margin: 18px 0;
}

.ch-message{
  font-size: 15px;
  line-height: 25px;
}
.ch-send-btn {
  text-align: right;
}

.ch-input {
  margin: 15px 0;
}

.ch-input input, .ch-input textarea {
  border-radius: 5px;
  outline: none;
  border-color: #dcd7ca !important;
  background-color: #fafafa;
  resize: none;

}

.ch-align-right {
  text-align: right;
}

.ch-align-left {
  text-align: left;
}

/*
 * Arrow down
 */
.ch-arrow {
  position: absolute;
  top: 3%;
  right: 5%;
}

.ch-down {
  border: solid #fff;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 7px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.ch-chat-box {
  overflow-y: auto;
  height: 210px;
}
/* width */
.ch-chat-box::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.ch-chat-box::-webkit-scrollbar-track {
  background: #f1f1f1;
        border-radius: 30px;

}

/* Handle */
.ch-chat-box::-webkit-scrollbar-thumb {
  background: #888;
      border-radius: 30px;
}

/* Handle on hover */
.ch-chat-box::-webkit-scrollbar-thumb:hover {
  /* background: #333; */
}

}

/***** TESTTTTT *****/
#ch-message-section, #chatster-opener {

}

.ch-small-loader {
  position: relative;
  top: 40%;
}
