#chatster-menu-link {
  color: #94CE8D;
}

.active-convs-link {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  margin: 1px 0 -1px 2px;
  padding: 0 5px;
  min-width: 18px;
  height: 18px;
  border-radius: 9px;
  background-color: #ca4a1f;
  color: #fff;
  font-size: 11px;
  line-height: 1.6;
  text-align: center;
  z-index: 26;
  font-weight: 700;
}

.hidden {
  display: none;
}

.wrap {

}

/**
 * Conversations
 */

 #ch-conversation-container {
   margin-top: 50px;
   display: flex;
 }

 #conversations-block {
   width: 40%;
   min-height: 500px;
   max-width: 400px;
   background-color: #fff;
   border: 2px solid #D2D5DA;

 }

 #ch-reply-block {
   width: 60%;
 }

 #ch-reply, #ch-reply:focus {
   border-radius: 35px;
   font-size: 16px;
   resize: none;
   outline: none;
   display: block;
   width: 100%;
   padding: 10px 25px;
 }

 #ch-message-board {
   height: 100%;
   background-color: #fff;
 }

 #ch-load-conv-container {
   position: relative;
   top: 42%;
   text-align: center;
 }

 #ch-empty-conv-msg {
   font-size: 16px;
   margin-top: 10px;
   margin-bottom: 40px;
   font-weight: 600;
 }

 .single-conversation {
   border: 1px solid gray;
   padding: 10px;
   cursor: pointer;
 }

 .single-message-local .ch-msg-text {
   white-space: pre-wrap;
 }

 .unread {
   background-color: #f05f70;
 }
/** Toggle Switch **/

  .onoffswitch {
      position: relative; width: 107px;
      -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
  }
  .onoffswitch-checkbox {
      display: none !important;
  }
  .onoffswitch-label {
      display: block; overflow: hidden; cursor: pointer;
      border: 2px solid #999999; border-radius: 20px;
  }
  .onoffswitch-inner {
      display: block; width: 200%; margin-left: -100%;
      transition: margin 0.3s ease-in 0s;
  }
  .onoffswitch-inner:before, .onoffswitch-inner:after {
      display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
      font-size: 15px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
      box-sizing: border-box;
  }
  .onoffswitch-inner:before {
      content: "ONLINE";
      padding-left: 10px;
      background-color: #34C290; color: #FFFFFF;
  }
  .onoffswitch-inner:after {
      content: "OFFLINE";
      padding-right: 10px;
      background-color: #EEEEEE; color: #999999;
      text-align: right;
  }
  .onoffswitch-switch {
      display: block; width: 18px; margin: 6px;
      background: #FFFFFF;
      position: absolute; top: 0; bottom: 0;
      right: 73px;
      border: 2px solid #999999; border-radius: 20px;
      transition: all 0.3s ease-in 0s;
  }
  .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
      margin-left: 0;
  }
  .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
      right: 0px;
  }

/* Requests */

.pinned-flag {
  cursor: pointer;
  user-drag: none;
  user-select: none;
 -moz-user-select: none;
 -khtml-user-select: none;
 -webkit-user-select: none;
 -o-user-select: none;
}
.unflagged {
  opacity: .2;
}
.unflagged:hover {
  opacity:.5;
}

.reply-container {
  width: 70%;
  margin: 0 auto;
}
.ch-reply-input textarea {
  width: 100%;
  padding: 12px 14px;
  font-size: 1.2em;
}

.ch-btn-reply {
  text-align: right;
  padding: 10px 0;
}

.ch-btn-reply input {
  padding: 10px 20px;
  background-color: gray;
  color: #FEFEFE;
  cursor: pointer;
  outline: none;
}

/** Options **/

.ch-reply-btn {
  display: flex;
}

.submit-reset {
  margin-left: 20px !important;
}



/* Grouping switch */

.switch-container {
    margin-bottom: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 18px;
  margin-bottom: 3px
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
